<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <title>index</title>
</head>

<body>

<% include ../partials/header %>

<p><a href="./appdynamics">LINK</a></p>
<h2> List:</h2>

<% Object.keys(links).forEach(function (id) { %>
  <article>
      <h2><%= links[id].title %></h2>
      <p>
        <a href="<%= links[id].url %>">Link to page!</a>
      </p>
      <div>
        Rating: <%= links[id].rating %>
      </div>
      <div>
          Calories: <%= links[id].calories %>
        </div>
    <img alt="sandwich" src="<%= links[id].imageURL %>">
  </article>
<% }) %>
</body>
</html>



